

@media only screen and (max-width: 1910px) {
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    } 



}

@media only screen and (min-width:360px) {
    #top-card {
      
    }
}