

@media only screen and (max-width: 360px) {
    .header_area .main-menu .navbar{
      padding: 0%; 
    }
}
   






@media only screen and (max-width: 360px) { 
    .nav-link{
        display: none;
    }
}

@media only screen and (max-width: 360px) { 
    .about-img{
        margin-left: 0px;
    }

}


@media only screen and (max-width: 910px) { 
    .img-responsive{
        
    }

}

@media only screen and (max-width: 360px) { 
    #contact{
        margin-left: 0px;
    }

}

