@import url(./fonts.css);
@import url(./partials/variables.css);
@import url(./partials/global.css);



.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font:normal 500 15px/2px var(--roboto);
    
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background:var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background:var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    
    
}

@keyframes animate {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        bottom: 1000px;
        transform: translateX(-300px);
    }
}

.container {
   padding-top: 300px;
    padding-right: 18px;
}


    
.about-image {
    margin-left: 350px;
}    
    
   





#btnportfolio:hover {
    color:#23a6d5;
}



.site-banner {
    padding-bottom: 200px;
}

#particles-js {
    position: absolute;
    background:rgb(30, 102, 136);
    height: 600px;
    width: 1900px;
}

#top-cont{
    position: absolute;
    margin-top: 330px;
    color: white;
}

#bot-cont{
    color: white;
    position: absolute;
    margin-top: 400px;
}

.site-buttons {
    margin-top: 500px;
    

}



.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}







    

    

.site-main .site-banner .site-title h1 {
    font-size: 30px;
    margin-left: 65px;
    color: black;
}

.site-main .site-banner .site-title h4 {
    font-size: 15px;
    margin-left: 45px;
    color: black;
}



.button-background {
    background-color: white;
}

.site-main .about-area{
    padding: 8rem 5rem;
    background-color: #fcfcfc;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
}

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0.14rem;
}

.site-main .services-area .services-title h1 {
    font-size: 35px;
}

.site-main > .services-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin:5rem .5rem;
    transition: box-shadow .7s ease;
}


.services{
margin-top: 300px;
    
}





#portfolio-background {
    background-color: #fcfcfc;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 20px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}



.site-main .project-area .grid .our-project a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}




  #project-outer{
      
      background-color: white;
      margin-right: 13.5rem;
      margin-bottom: 2rem;
      border-radius: 5px;
  }

  
  
 
  
  .bottom-border {
      
      border-radius: 25px;
      background-color: #ff0000;
      text-align: center;
  }

.bottom-border a {
    color: white;
}

.contact {
    background-color: #ffffff7a;
    margin: 2rem 30rem;
}

#contact {
    text-align: center;
}

.contact h2, p, label {
    color: black;
}



footer.footer-area{
    padding: 2rem 0;
    background-color:rgba(248, 252, 253, 0.973);
}

footer.footer-area .social h5{
    font: normal 500 23px/30px var(--roboto);
    
}

footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}

.copyrights p {
    
}

#profile-img {
    
}

.social {
    display: flex;
    justify-content: space-evenly;
}