* {
    font-family: "Roboto";
}

.site-banner {
    background-color: cornflowerblue;
    height: 400px;
    margin-bottom: 100px;
}

.nav-link  {
    
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto";
    }

    .nav-item{
        margin-left: 20px;
    }


#particles-js {
    position: absolute;
    z-index: 0;
    height: 400px;
    width: 1900px;
}

#header-text {
    position: absolute;
    z-index: 1;
}

#header-text-lower {
    position: absolute;
    z-index: 1;
}

.title-text {
    position: absolute;
    margin-top: 250px;
    z-index: 1;
    color: white;
}

.title-text-lower {
    position: absolute;
    margin-top: 300px;
    z-index: 1;
    color: white;
}

.site-about {
    margin-bottom: 250px;
}

.para {
    font-family: "lato";    
}

.services {
    margin-bottom: 250px;
}

.service-area {
    padding-bottom: 150px;
}

.section-text {
    margin-bottom: 150px;
}

.card-text {
    font-family: "lato";
}

.project-area {
    margin-bottom: 250px;
}

.button-group {
    text-align: center;
}

.project-title {
    text-align: center;
}

.bot-info {
    font-family: "Lato";
}

.project-area .button-group button {
   
   border: none;
   font: normal 500 16px/130px;
   text-transform: uppercase;
}
.project-area .button-group button + button {
    padding-bottom: 3px;
}

.project-area .grid .our-project > title h4{
    font: normal 700 25px/12px;
}



.contact {
    padding-bottom: 120px;
   }



.contact h2 {
    text-align: center;
}



.contact p {
    font-family: "lato";
    text-align: center;
}




.footer-area {
    padding-bottom: 1px;
}
