@import url(./fonts.css);
@import url(./partials/variables.css);
@import url(./partials/global.css);



.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font:normal 500 15px/2px var(--roboto);
    
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background:var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background:var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    
    
}

@keyframes animate {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        bottom: 1000px;
        transform: translateX(-300px);
    }
}

.box {
    position: absolute;
    bottom: -100px;
    background: #f2f2f2;
    opacity: .6;
    animation: animate 15s infinite ease;
}

.box:nth-child(1) {
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay: 1s;
}

.box:nth-child(2) {
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay: 5s;
}

.box:nth-child(3) {
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay: 9s;
}

.box:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay: 2s;
}

.box:nth-child(5) {
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay: 10s;
}

.box:nth-child(6) {
    width: 55px;
    height: 55px;
    left: 65%;
    animation-delay: 5s;
}

.box:nth-child(7) {
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay: 9s;
}

.box:nth-child(8) {
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay: 3s;
}

.box:nth-child(9) {
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay: 9s;
}





#btnportfolio:hover {
    color:#23a6d5;
}

.site-main .site-banner {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding-bottom: 350px;

}
#head-content {
    margin-left: 464px;
    margin-top: 368px;
    width: 25.5%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
 
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

#top-card {
    background-color: white;
    
    margin-top: -200px;
    box-shadow: -3px -3px -7px #ffffff;
    border-radius: 10px;
                
    }



    

    .top-pic {
        
        height: 125px;
        width: 125px;
        margin-left: 65px;
    }

.site-main .site-banner .site-title h1 {
    font-size: 30px;
    margin-left: 65px;
    color: black;
}

.site-main .site-banner .site-title h4 {
    font-size: 15px;
    margin-left: 45px;
    color: black;
}


.site-buttons {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;

}
.button-background {
    background-color: white;
}

.site-main .about-area{
    padding: 8rem 5rem;
    background-color: #fcfcfc;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
}

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0.14rem;
}

.site-main .services-area .services-title h1 {
    font-size: 35px;
}

.site-main > .services-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin:5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

.site-main .project-area{
    padding: 4rem 0;
   
}

#portfolio-background {
    background-color: #fcfcfc;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 20px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    
}

.site-main .project-area .grid .our-project a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}




  #project-outer{
      
      background-color: white;
      margin-right: 13.5rem;
      margin-bottom: 2rem;
      border-radius: 5px;
  }

  .title h4 p {
      color: white;
  }
  
  #bot-info{
    
  }
  
  .bottom-border {
      
      border-radius: 25px;
      background-color: #ff0000;
      text-align: center;
  }

.bottom-border a {
    color: white;
}

.contact {
    background-color: #ffffff7a;
    margin: 2rem 30rem;
}

#contact {
    text-align: center;
}

.contact h2, p, label {
    color: black;
}



footer.footer-area{
    padding: 2rem 0;
    background-color:rgba(248, 252, 253, 0.973);
}

footer.footer-area .social h5{
    font: normal 500 23px/30px var(--roboto);
    
}

footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}

.copyrights p {
    
}

#profile-img {
    
}

